@import "../../../../../styles/mixins/breakpoint";

.popular {
  padding: 120px 0;
  // .popular__title
  &__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1D1D1D;
    margin: 0px 0px 40px 0px;
    @media (max-width:1700px){
      font-size: 48px;
      margin: 0px 0px 32px 0px;
    }
    @include mobile {
      font-size: 32px;
    }
  }
  // .popular__content
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width:1700px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:992px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:767px){
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width:1700px){
    padding: 100px 0;
  }
  @media (max-width:767px){
    padding: 70px 0;
  }
}